[Unit]
Description=Dim keyboard LEDs

[Service]
Type=oneshot
ExecStart=/opt/g513-led/setup.sh
RemainAfterExit=true
ExecStop=/opt/g513-led/teardown.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
