[Unit]
Description=G513 keyboard dimmer and usage visualiser

[Service]
Type=simple
ExecStart=/opt/g513-led/setup.py
Restart=on-abnormal
ExecStop=/opt/g513-led/teardown.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
